@for (selector of selectors; track selector; let i = $index) {
  <div class="css-rule-selector">
    {{ selector }}
    @if (i < selectors.length - 1) {
      <span class="css-rule-comma">,</span>
    }
    @if (i === selectors.length - 1) {
      <span class="css-rule-open">&nbsp;&#123;</span>
    }
  </div>
}
@for (property of properties; track property) {
  <div>&nbsp;&nbsp;
    <app-css-property-name [property]="property.property"/>
    <app-css-property-value [value]="property.value"/>
    <span class="css-rule-semicolon">;</span>
  </div>
}
<div class="css-rule-close">&#125;</div>
