:root {
  --debug-background-color: var(--p-stone-200);
  --debug-text-color: var(--p-surface-950);
  --debug-border-color: var(--p-surface-600);
  --debug-header-background-color: var(--p-surface-300);
  --debug-variable-background-color: var(--p-surface-200);
}

:root[class*="dark-theme"] {
  --debug-background-color: var(--p-surface-700);
  --debug-text-color: var(--p-surface-100);
  --debug-border-color: var(--p-surface-100);
  --debug-header-background-color: var(--p-surface-800);
  --debug-variable-background-color: var(--p-surface-900);
}
