<div class="header-banner">
  <div class="header-text">
    <span class="roadblocks-text">Programmer</span>
    <img ngSrc="/assets/images/roadblocks-logo.png"
         alt="Roadblocks Logo"
         class="roadblocks-logo"
         height="45"
         width="43"/>
    <span class="roadblocks-text">Roadblocks</span>
  </div>
  <div class="header-options">
    @if (!isProduction()) {
      @if (!isDebugMode()) {
        <p-button icon="fa fa-bug"
                  (click)="toggleDebugMode()"
                  class="btn btn-outline-secondary"
                  severity="secondary"
                  size="small"
                  rounded="true"
                  [pTooltip]="toDebugMode"
                  showDelay="1000"
                  tooltipPosition="left"/>
        <ng-template #toDebugMode>
          <i>Click icon</i> to switch to Debug Mode
        </ng-template>
      } @else {
        <p-button icon="fa fa-bug fa-rotate-270"
                  (click)="toggleDebugMode()"
                  class="btn btn-outline-primary"
                  severity="primary"
                  size="small"
                  rounded="true"
                  [pTooltip]="toNormalMode"
                  showDelay="1000"
                  tooltipPosition="left"/>
        <ng-template #toNormalMode>
          <i>Click icon</i> to switch to Normal Mode
        </ng-template>
      }
    }
    @if (!isDarkMode()) {
      <p-button icon="pi pi-sun"
                (click)="toggleDarkMode()"
                class="btn btn-outline-secondary"
                severity="secondary"
                size="small"
                rounded="true"
                pTooltip="<i>Click icon</i> to switch to Dark Mode"
                showDelay="1000"
                escape="false"
                tooltipPosition="left"/>
    } @else {
      <p-button icon="pi pi-moon"
                (click)="toggleDarkMode()"
                class="btn btn-outline-secondary"
                severity="secondary"
                size="small"
                rounded="true"
                pTooltip="<i>Click icon</i> to switch to Light Mode"
                showDelay="1000"
                escape="false"
                tooltipPosition="left"/>
    }
  </div>
</div>
